/* Topbar */

// Ensure icon inherits the button color correctly
.rm-topbar .bp3-button, .rm-topbar .bp3-input-group {
  &[class*="bp3-icon-"]::before, & .bp3-icon {
    color: inherit;
  }
}

// Top navigation icons
.rm-topbar .bp3-button {
  // Icon button state
  color: var(--topbar_icon__color);

  // Icon button hover state
  &:hover {
    color: var(--topbar_icon__color_hover);
    background-color: var(--topbar_icon__background-color_hover);
  }

  // Icon button focus state
  &:focus {
    outline: var(--topbar_icon__color) auto 2px;
  }
}

// Search navigation
.rm-topbar .bp3-input-group {
  // Search icon
  color: var(--topbar_icon__color);

  // Typography
  font-family: var(--main-font__font-family);
  // font-variation-settings: var(--main-font__font-variation-settings);

  &:hover {
    color: var(--topbar_icon__color_hover);
    input {
      color: var(--main-font__color);
      background-color: var(--topbar_search__background-color_hover);
    }
  }
  & ::placeholder {
    color: var(--topbar_search__placeholder-color);
  }
}

// .rm-topbar {
//   background-color: var(--topbar__background-color);
//   border-bottom: 0.5px solid var(--topbar__border);
// }

// .bp3-input {
//   background: var(--search__background);
//   // box-shadow: none;
//   color: var(--menu__color);
//   // font-size: 0.85em;

//   &::placeholder {
//     color: var(--search__color_page);
//   }

//   &:focus {
//     border: var(--search__border);
//     box-shadow: 0 0 0 1px var(--search__border);
//   }

//   &[readonly] {
//     background: var(--search__background);
//   }

//   .bp3-active {
//     border: var(--search__border);
//     box-shadow: 0 0 0 1px var(--search__border);
//   }
// }

// .bp3-input-group {
//   > .bp3-icon {
//     color: var(--search__color_page);
//   }
// }

// //saving status icon dot
// .rm-sync--saving-local {
//   background-color: var(--status-icon__background-color_saving-local);
// }
// .rm-sync--saving-remote {
//   background-color: var(--status-icon__background-color_saving-remote);
// }
// .rm-sync--synced {
//   background-color: var(--status-icon__background-color_synched);
// }
