/*
### Legion ###
> Readability focussed theme for Roam Research
> Created by Joshua Hall
> v1.0.0
*/

// Compiler variables
// $color-family: 'blue';
$background-color-family: 'brown';

// Global assets
@import 'global/main';

@media (prefers-color-scheme: light) {
  @font-face {
    font-family: "Lexend";
    src: url("https://joshjhall.github.io/legion-roam-research/fonts/Lexend[LXND,wght].woff2") format("woff2"), url("https://joshjhall.github.io/legion-roam-research/fonts/Lexend[LXND,wght].tff") format("truetype");
    font-weight: 415;
    font-style: normal;
    font-optical-sizing: auto;
  }
  @font-face {
    font-family: "Lexend";
    src: url("https://joshjhall.github.io/legion-roam-research/fonts/Lexend[LXND,wght].woff2") format("woff2"), url("https://joshjhall.github.io/legion-roam-research/fonts/Lexend[LXND,wght].tff") format("truetype");
    font-weight: 810;
    font-style: normal;
    font-optical-sizing: auto;
  }

  @font-face {
    font-family: "Roboto Mono";
    src: url("https://joshjhall.github.io/legion-roam-research/fonts/RobotoMono[wght].woff2") format("woff2"), url("https://joshjhall.github.io/legion-roam-research/fonts/RobotoMono[wght].tff") format("truetype");
    font-weight: 420;
    font-style: normal;
    font-optical-sizing: auto;
  }
  @font-face {
    font-family: "Roboto Mono";
    src: url("https://joshjhall.github.io/legion-roam-research/fonts/RobotoMono[wght].woff2") format("woff2"), url("https://joshjhall.github.io/legion-roam-research/fonts/RobotoMono[wght].tff") format("truetype");
    font-weight: 630;
    font-style: normal;
    font-optical-sizing: auto;
  }

  @import 'light/variables';
  @import 'light/main';
}

@media (prefers-color-scheme: dark) {
  @font-face {
    font-family: "Lexend";
    src: url("https://joshjhall.github.io/legion-roam-research/fonts/Lexend[LXND,wght].woff2") format("woff2"), url("https://joshjhall.github.io/legion-roam-research/fonts/Lexend[LXND,wght].tff") format("truetype");
    font-weight: 415;
    font-style: normal;
    font-optical-sizing: auto;
  }
  @font-face {
    font-family: "Lexend";
    src: url("https://joshjhall.github.io/legion-roam-research/fonts/Lexend[LXND,wght].woff2") format("woff2"), url("https://joshjhall.github.io/legion-roam-research/fonts/Lexend[LXND,wght].tff") format("truetype");
    font-weight: 810;
    font-style: normal;
    font-optical-sizing: auto;
  }

  @font-face {
    font-family: "Roboto Mono";
    src: url("https://joshjhall.github.io/legion-roam-research/fonts/RobotoMono[wght].woff2") format("woff2"), url("https://joshjhall.github.io/legion-roam-research/fonts/RobotoMono[wght].tff") format("truetype");
    font-weight: 420;
    font-style: normal;
    font-optical-sizing: auto;
  }
  @font-face {
    font-family: "Roboto Mono";
    src: url("https://joshjhall.github.io/legion-roam-research/fonts/RobotoMono[wght].woff2") format("woff2"), url("https://joshjhall.github.io/legion-roam-research/fonts/RobotoMono[wght].tff") format("truetype");
    font-weight: 630;
    font-style: normal;
    font-optical-sizing: auto;
  }

  @import 'dark/variables';
  @import 'dark/main';
}
