/*
### Legion ###
> Readability focussed theme for Roam Research
> Created by Joshua Hall
> v1.0.0
*/

@font-face {
  font-family: "Lexend";
  src: url("https://joshjhall.github.io/legion-roam-research/fonts/Lexend[LXND,wght].woff2") format("woff2"), url("https://joshjhall.github.io/legion-roam-research/fonts/Lexend[LXND,wght].tff") format("truetype");
  font-style: normal;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("https://joshjhall.github.io/legion-roam-research/fonts/RobotoMono[wght].woff2") format("woff2"), url("https://joshjhall.github.io/legion-roam-research/fonts/RobotoMono[wght].tff") format("truetype");
  font-style: normal;
  font-optical-sizing: auto;
}

// Global assets
@import 'global/material-colors';
@import 'global/resources';
@import 'global/icons';
@import 'global/mixins';
@import 'global/reset';

// Global variables
// $color-family: 'blue';

@media (prefers-color-scheme: light) {
  @import 'light/variables';
  @import 'light/main';
}

@media (prefers-color-scheme: dark) {
  @import 'dark/variables';
  @import 'dark/main';
}
