/*
### Legion ###
> Readability focussed theme for Roam Research
> Created by Joshua Hall
> v1.0.0
*/

// Global assets
@import '../../core/index';

@media (prefers-color-scheme: light) {
  @import 'light/variables';

  @font-face {
    font-family: "Lexend";
    src: url("https://joshjhall.github.io/legion-roam-research/fonts/Lexend[LXND,wght].woff2") format("woff2"), url("https://joshjhall.github.io/legion-roam-research/fonts/Lexend[LXND,wght].tff") format("truetype");
    font-weight: $main-font__font-weight__normal-light;
    font-style: normal;
    font-optical-sizing: auto;
  }
  @font-face {
    font-family: "Lexend";
    src: url("https://joshjhall.github.io/legion-roam-research/fonts/Lexend[LXND,wght].woff2") format("woff2"), url("https://joshjhall.github.io/legion-roam-research/fonts/Lexend[LXND,wght].tff") format("truetype");
    font-weight: $main-font__font-weight__bold-light;
    font-style: normal;
    font-optical-sizing: auto;
  }

  @font-face {
    font-family: "Roboto Mono";
    src: url("https://joshjhall.github.io/legion-roam-research/fonts/RobotoMono[wght].woff2") format("woff2"), url("https://joshjhall.github.io/legion-roam-research/fonts/RobotoMono[wght].tff") format("truetype");
    font-weight: $code-font__font-weight__normal-light;
    font-style: normal;
    font-optical-sizing: auto;
  }
  @font-face {
    font-family: "Roboto Mono";
    src: url("https://joshjhall.github.io/legion-roam-research/fonts/RobotoMono[wght].woff2") format("woff2"), url("https://joshjhall.github.io/legion-roam-research/fonts/RobotoMono[wght].tff") format("truetype");
    font-weight: $code-font__font-weight__bold-light;
    font-style: normal;
    font-optical-sizing: auto;
  }

  @import 'light/main';
}

@media (prefers-color-scheme: dark) {
  @import 'dark/variables';

  @font-face {
    font-family: "Lexend";
    src: url("https://joshjhall.github.io/legion-roam-research/fonts/Lexend[LXND,wght].woff2") format("woff2"), url("https://joshjhall.github.io/legion-roam-research/fonts/Lexend[LXND,wght].tff") format("truetype");
    font-weight: $main-font__font-weight__normal-dark;
    font-style: normal;
    font-optical-sizing: auto;
  }
  @font-face {
    font-family: "Lexend";
    src: url("https://joshjhall.github.io/legion-roam-research/fonts/Lexend[LXND,wght].woff2") format("woff2"), url("https://joshjhall.github.io/legion-roam-research/fonts/Lexend[LXND,wght].tff") format("truetype");
    font-weight: $main-font__font-weight__bold-dark;
    font-style: normal;
    font-optical-sizing: auto;
  }

  @font-face {
    font-family: "Roboto Mono";
    src: url("https://joshjhall.github.io/legion-roam-research/fonts/RobotoMono[wght].woff2") format("woff2"), url("https://joshjhall.github.io/legion-roam-research/fonts/RobotoMono[wght].tff") format("truetype");
    font-weight: $code-font__font-weight__normal-dark;
    font-style: normal;
    font-optical-sizing: auto;
  }
  @font-face {
    font-family: "Roboto Mono";
    src: url("https://joshjhall.github.io/legion-roam-research/fonts/RobotoMono[wght].woff2") format("woff2"), url("https://joshjhall.github.io/legion-roam-research/fonts/RobotoMono[wght].tff") format("truetype");
    font-weight: $code-font__font-weight__bold-dark;
    font-style: normal;
    font-optical-sizing: auto;
  }

  @import 'dark/main';
}
